<div>
    <p>
	    <strong>id</strong>: <%= req.user.id %><br>
	    <strong>username</strong>: <%= req.user.username %><br>
	    <!--<strong>password</strong>: <%= req.user.password %><br>-->
        <strong>api key</strong>: <%= req.user.apiKey %><br>
        <strong>session</strong>: <%= session %>
	</p>
</div>